.posts {
  padding: 0;
}
.posts .tease {
  width: 49%;
  margin: 0.5%;
  display: inline-block;
  background-color: sandybrown;
}
.posts .tease h3 {
  font-size: 16px;
  padding: 3%;
  margin: 0;
}
.posts .tease img {
  width: 100%;
}
.posts .tease .posted {
  padding: 3%;
  width: 100%;
}
.posts .tease.twitter {
  width: 99%;
  margin: 0.5%;
}
.posts .tease.twitter img {
  width: 33%;
  display: inline-block;
  float: left;
}
.posts .tease.twitter h3 {
  width: 66%;
  display: inline-block;
}
.posts .tease.twitter.no-image h3 {
  width: 100%;
}
.posts .tease.reddit h3 {
  font-size: 75%;
}
.posts .tease.blog {
  width: 99%;
  margin: 0.5%;
}
