<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Data Responsive SVG Map Example</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body ng-app="SvgMapApp" ng-controller="MainCtrl">
<div class="container">
    <h2>Data Responsive SVG Map Example</h2>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel panel-body">
                    <div svg-map></div>
                    <div class="scale">
                        <div ng-repeat="n in [0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1.0]"
                             ng-style="{backgroundColor:'{{n | map_colour}}'}">{{n}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <p>
                <button ng-click="createDummyData()" class="btn btn-block btn-default">Create Dummy Data</button>
            </p>
            <div class="panel panel-default">
                <div class="panel panel-body">
                    <div class="regionlist">
                        <div ng-repeat="(key,region) in colourData" ng-class="{active:hoverRegion==key}"
                             ng-mouseover="changeHoverRegion(key)">
                            <div>{{key}}</div>
                            <div>{{region.value | number}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>
        Source: <a href="https://github.com/TweededBadger/tweededbadger.github.io/tree/master/examples/svg_maps" target="_blank">https://github.com/TweededBadger/tweededbadger.github.io/tree/master/examples/svg_maps</a><br/>
        Map Source: <a href="http://commons.wikimedia.org/wiki/File:Blank_US_Map.svg" target="_blank">http://commons.wikimedia.org/wiki/File:Blank_US_Map.svg</a>
    </p>
    <a class="logo" href="http://www.tweededbadger.com" target="_blank"><img src="img/badger_full.svg" alt=""/></a>
</div>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script src="js/controllers.js"></script>
<script src="js/directives.js"></script>
<script src="js/filters.js"></script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-51862016-2', 'auto');
    ga('send', 'pageview');

</script>

</body>
</html>